
/****************** default margin for the body tag will be zero*****************/
body{
  margin: 0;;
}

.padding10{
  padding-left: 5.75rem;
  padding-right: 5.75rem;
}

/****************** main Header styling starts here*****************/
#header{
  background: #FFFFFF;
  height: 4.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
   
}

#header-logo{
  padding-left: 5.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex: 1 1 auto;   
}

#header-logo img{
  height: 24px;
  width: 184px;
}

#navItem{
  display: flex;
  gap: 4rem;
  padding-right: 0.75rem;
  justify-content: center;
  align-items: center;

  padding-right: 5.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#header-separator{
  width: 100%;
  margin:0px;
}

/****************** main Header styling ends here*****************/


#count{
    background: url(./assets/images/bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;
    padding-top: 56px;
    padding-bottom: 45px;
}

#count div{
  padding-top: 79px;
  padding-bottom: 79px;
}


#primeHead{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 3.7rem;
  line-height: 4rem;
  /* or 110% */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  /* Gray/Dark */
  color: #3F4255;
}
#roundphoto{
  flex: 0 0 60%;
}

#prime{
  padding-left: 92px;
  padding-top: 192px;
}

#prime_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

#prime_buttons div{
  /* Gray/Dark */

  color: #3F4255;
  /* Brand/Yellow-Bright */

  border: 2px solid #FFE145;
  border-radius: 4px;

  padding: 18.5px 24px;
  align-items: center;
}

.btn_mainprt{
  /* Button/text-defoult */

  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: 0.5px;
}

.btn_subprt{
  /* Button/text-defoult */

  
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 125% */
  letter-spacing: 0.5px;
}

/*middle1 css starts here-----------------------*/

#middle1{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 800px){
  #feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 28px;
    padding-bottom: 28px;
  
  /* White */
  
  background: #FFFFFF;
  /* Base shadow */
  
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  width: 50%;
  }
}

@media only screen and (max-width: 400px){
  #feature{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 28px;
    padding-bottom: 28px;
    
    /* White */
    
    background: #FFFFFF;
    /* Base shadow */
    
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    width: 50%;
  }
}



@media only screen and (min-width: 800px){
  #feature{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 28px;
    padding-bottom: 28px;
  
  /* White */
  
  background: #FFFFFF;
  /* Base shadow */
  
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  width: 50%;
  }
}

#feature span{
  /* Text/Defoult */

font-family: 'Martel Sans';
font-style: normal;
font-weight: 300;
font-size: 1rem;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;
letter-spacing: 0.5px;

/* Gray/Dark */

color: #3F4255;

}

#feature span{
  /* Text/Defoult */

  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Gray/Dark */

  color: #3F4255;

}

.feature2{
  display: flex;
}
/*middle1 css starts here-----------------------*/


/*Restarunts css starts here---------------------*/

@media only screen and (max-width: 800px){
  #restaurants{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding-bottom: 72px;
  }
}

@media only screen and (max-width: 400px){
  #restaurants{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding-bottom: 72px;
  }
}



@media only screen and (min-width: 800px){
  #restaurants{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding-bottom: 72px;
  }
}


/*Restarunts css ends here---------------------*/

/*Nearest restarunt cdd starts here*/
#nearRestaurants{
  display: grid;
  background-color: #F2F4FA;
  grid-template-columns: 1fr 1fr;
  padding-left: 172px;
  padding-right: 172px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#nearRestaurants span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 64px;
  /* identical to box height, or 178% */

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  /* Gray/Dark */

  color: #3F4255;

}

#nearRestaurants p{
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Gray/Dark */

  color: #3F4255;

}

#restaurants img{
  width: 100%;
}

#deliveryAdd{
  display: flex;
  align-items: center;
  justify-content: right;
}

#deliveryAdd input{
  background: url("./assets/images/loc.png") no-repeat scroll left center #FFFFFF;
  background-position:1rem;
  text-indent: o.5rem;
  margin-right: 0.25rem;
  border: 0px;
  color: #9093A6;
  /* Text/Defoult */

  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  padding: 1.5rem 1rem 1.5rem 3rem;
}

#deliveryAdd button{
  background: #FFE145;
  border-radius: 0.25rem;
  border: 0px;
  font-family: 'Martel sans';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  text-align: center;
  color: #B79C10;
  padding: 1.6rem 1.5rem 1.6rem 1.5rem;
}

/*Nearest restarunt cdd starts here*/

/*specialities css starts here---------------------*/

.specialityMainDiv{
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
}

.speacialityShowall{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 800px){
  #specialities{
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

}


@media only screen and (max-width: 400px){
  #specialities{
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr;
  }

}

@media only screen and (min-width: 800px){
  #specialities{
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

}

.specialImg{
  box-sizing: border-box;
  padding: 2%;
  background: #FFFFFF;
  box-shadow: 0px 2px 1rem rgb(60 62 74 / 8%);
  border-radius: 6px;
  height: 8.5rem;
  width: 8.5rem;
  text-align: center;  
}

.showbtn{
  float: right;
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #F2F4FA;
  border-radius: 4px;
  padding: 14px 24px;
  color: #9093A6;
}

.headingShowall{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 48px;
}
.specilityHeading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 64px;
  /* or 178% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  
  /* Gray/Dark */
  
  color: #3F4255;
   
}

figcaption{
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.5px;

  /* Text/Dark */

  color: #313030;

}
/*specialities css ends here---------------------*/
/*--------------------------------------------------------*/
feature1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Gray/Dark */
  
  color: #3F4255;
  }


.restaruntdiv1{
  position: relative;
}
#arrow11{
  position:absolute;
  top:20%;
  left:57px;
  border-radius: 30px;
  padding: 1%;
  height: 20px;
  width: 20px;

  background: #FFFFFF;
  /* Base shadow */
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);

}

#arrow12{
  position:absolute;
  top:20%;
  right:55px;
  border-radius: 30px;
  padding: 1%;
  height: 20px;
  width: 20px;

  background: #FFFFFF;
  /* Base shadow */
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);

}


#arrow13{
  position:absolute;
  top:20%;
  left:-25px;
  border-radius: 30px;
  padding: 1%;
  height: 20px;
  width: 20px;

  background: #FFFFFF;
  /* Base shadow */
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);

}

#arrow14{
  position:absolute;
  top:20%;
  right:-25px;
  border-radius: 30px;
  padding: 1%;
  height: 20px;
  width: 20px;

  background: #FFFFFF;
  /* Base shadow */
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);

}

/*--------------------------------------------------------*/

/*map css starts here ---------------------------*/

#map{
  display: flex;
  justify-content: center;
}

#map #mapImg{
  flex: 0 0 100%;
  background: url(/assets/images/Map.png) no-repeat;
  background-size: 100% 100%;
}

#mapImg img{
  opacity: 0;
}

/*map css ends here ------------------------------*/

/*image grid*/


.yellowKitchenInsta{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 2.25rem;
    line-height: 4rem;
  /* identical to box height, or 178% */

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  flex-wrap: wrap;
}
#yellowKitchenInsta1{
  /* Gray/second-text */
  color: #9093A6;

}
#yellowKitchenInsta2{
  /* Text/Dark */
  color: #313030;
}


@media only screen and (max-width: 800px){
  #imgGrid2{
    display: grid;
    /* justify-content:space-between; */  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1.5rem;
  }
}


@media only screen and (max-width: 400px){
  #imgGrid2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 800px){
  #imgGrid2{
    display: grid;
    /* justify-content:space-between; */  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1.5rem;
  }
}




#imgGrid2 img{
  width: 100%;
}

/*image grid --------------------------------------*/



/*footer css --------------------------------------*/
.row {
  /* padding: 1em 1em; */
  background-color: #3F4255;
 }

 .row.primary{
  padding-top: 4rem;
 }

/*.row.primary {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  align-items: stretch;
}
.lastFooter{
  display: grid;
  grid-template-columns: 1fr 1fr;

} */

.lastFooter{
  padding-bottom: 3rem;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0 2em; */
  min-height: 15em;
}
hr{
  width:65%;
  color: #D4D7E5;
  margin-left: 0%;
  
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
ul {
  /* list-style: none; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

}

.column div{
  /* Title/2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* White */
  color: #FFFFFF;
}

ul{
  list-style-type: none;
}

.column ul li{
    /* Text/Defoult */
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

li:not(:first-child) {
  margin-top: 0.8em;
}

ul li a {
  color: #D4D7E5;
  text-decoration: none;
  /* Button/text-defoult */

}
ul li a:hover {
  color: #c7940a;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

input,
button {
  font-size: 1em;
  padding: 1em;    
  border-radius: 5px;
}

button1 {
  background-color: #c7940a;
  color: #ffffff;
}

div.social {
  display: flex;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

.social2 img{
  padding: 1em 1em;
  
}



@media only screen and (max-width: 800px){
  .row.primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
  }
  .lastFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .lastFooter .footer-menu a{
      
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    padding: 1em 1em;
  }
}

@media only screen and (max-width: 400px){
  .row.primary {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: stretch;
  }
  .lastFooter{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .social2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .lastFooter .footer-menu a{
      
    color: #FFFFFF;
    text-decoration: none;
  }

}

@media only screen and (min-width: 800px){
  .row.primary {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    align-items: stretch;
  }
  .lastFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .lastFooter .footer-menu a{
      
    color: #FFFFFF;
    text-decoration: none;
    float: right;
    padding: 1em 1em;
  }
}

